<div class="banner px-32 flex flex-col justify-center">
  <video autoplay muted loop class="banner__video">
    <source src="<%= video_path("bideo_one.mp4") %>" type="video/mp4">
  </video>
  <div class="banner__content w-1/2">
    <h1 class="text-gradient">Reach</h1>
    <h4 class="text-white mb-4">Every relationship has a reacher and a settler.</h4>
    <h4 class="text-white">...which one are you?</h4>
    <%= link_to "Find Out", root_path, class: "btn btn-gradient focus:outline-none w-full mt-8" %>
  </div>
</div>

<div class="works px-44 flex items-center">
  <div class="works__content w-1/2 glass-card">
    <h4 class="mb-6 text-black">How does this <span class="text-gradient">work?</span></h4>
    <p class="mb-4 text-black">Premise is simple enough, you upload photos, add a few choices, and have people vote on who the reacher is in the group.  Afterwards, you see the results, and then rinse, wash, and repeat.</p>
    <%= link_to "Give It A Try", root_path, class: "btn btn-gradient focus:outline-none w-full mt-8" %>
  </div>
</div>

<div class="about px-44 flex justify-end items-center">
  <%= image_tag 'about__photo_two', class: "about__photo-two"%>
  <%= inline_svg_tag "gradient_triangle.svg", class: "gradient-triangle" %>
  <%= inline_svg_tag "gradient_squiggles.svg", class: "gradient-squiggles" %>
  <div class="about__content w-1/2 glass-card">
    <h4 class="mb-6 text-black">Why does this <span class="text-gradient">exist?</span></h4>
    <p class="mb-4 text-black">It all started with my friend Christian's wedding. He's one of my best friends and absolute greatest guys I know, but boy did that guy outkick his coverage. We always tease him about it, but in reality I think we're all hoping we can somehow do the same.</p>
    <p class="text-black">This site is for the "Christians" out there, the ones who shoot for the moon, and actually make it! The one's who prove the old adage, you should never judge a book by it's cover.</p>
  </div>
</div>
<div class="rules px-44 flex items-center">
  <div class="rules__content w-1/2 glass-card">
    <h4 class="mb-6 text-black">Don't be a <span class="text-gradient">prick</span></h4>
    <p class="mb-4 text-black">Sadly, with all great things, there are going to be people who abuse it. Our one ask here at Reach is simply don't be a prick. Don't upload photos without people's permission, don't upload anything gross, and treat this as it was meant to be treated. . . a way to laugh and have fun with your friends.</p>
    <p class="text-black"></p>
  </div>
</div>
