<p class="text-gradient--blue mb-4">LET'S HAVE A LAUGH</p>
<h3 class="text-black mb-4 font-normal">Welcome back!</h3>
<p class="text-sm text-gray-400 mb-8">Join us as we settle that age old debate amongst your friends. Every group of friends has a reacher and settlers . . . which one are you?</p>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                placeholder: 'Email address',
                input_html: { autocomplete: "email" },
                wrapper_html: { class: 'mb-6'} %>
    <%= f.input :password,
                required: true,
                label: false,
                placeholder: 'Password',
                input_html: { autocomplete: "current-password" } %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'text-sm text-gradient--blue' %><br />
    <% end %>
    <%= f.input :remember_me, wrapper_html: { class: 'mt-4'}, label_html: { class: 'ml-2' }, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'btn btn-gradient focus:outline-none w-full mt-4' %>
  </div>
<% end %>
